<!DOCTYPE html>
<html>
<head>
  <title><%= data[:title] %></title>
  <meta charset="utf-8">
  <style type="text/css">
    p, li {
      /* Trebuchet-based sans serif stack */
      font-family: "Segoe UI", Candara,
      "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans",
      "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
      /* Helvetica/Arial-based sans serif stack */
      font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",
      Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva,
      "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    body { font-size: 100%; }
    h1 { font-size: 2.25em;  /* 16x2.25=36 */ }
    h2 { font-size: 1.5em;   /* 16x1.5=24 */ }
    h3 { font-size: 1.125em; /* 16x1.125=18 */ }
    h4 { font-size: 0.875em; /* 16x0.875=14 */ }
    p  { font-size: 0.75em;  /* 16x0.75=12 */ }
  </style>
</head>
<body>

<h1><%= data[:title] %></h1>